* {
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
body {
  background-color: #fffbe7 !important;
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
}
.logo-img {
  width: 80%;
  margin-top: 10px;
}

.menu-button {
  background-color: #d1001e;
  padding: 15px;
  -webkit-border-radius: 50%;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius: 50%;
  -moz-border-radius-topright: 0;
  border-radius: 50%;
  border-top-right-radius: 0;
  position: relative;
  z-index: 5;
}
.menu-btn {
  position: relative;
  z-index: 5;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.menu-btn .btn-line {
  width: 18px;
  height: 2.1px;
  margin: 0px 0 3px 0;
  background: #fff;
  transition: all 0.5s ease-out;
}

.menu-btn.close {
  transform: rotate(180deg);
  opacity: 1;
}

.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(4px, 5px);
  opacity: 1;
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(3px, -2px);
  opacity: 1;
}

.menu {
  position: fixed;
  top: 0;
  right: 10.5%;
  opacity: 1;
  visibility: hidden;
  background-image: url("../images/menu-bg.svg");
  /* background-color: rebeccapurple; */
  /* height: 400px; */
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 4;
  width: 0%;
  height: 20px;
  overflow: hidden;
  transition: 0.5s ease;
  transition: 0.5s ease;

  display: flex;
  justify-content: flex-end;
}

.menu.show {
  visibility: visible;
  height: 400px;
  background-position: right;
  right: 8%;
  width: 30%;
  transition: 0.5s ease;
  transition: 0.5s ease;
}

.menu-branding {
  display: flex;
  justify-content: flex-end;
  transition: 0.8s ease-out;
}

.portrait {
  width: 70%;
}
.portrait img {
  width: 100% !important;
  transition-delay: 0.5s;
}
.menu-nav {
  position: relative;
  overflow: hidden;
  transition: 1s ease;
  transition: 1s ease;
  height: 0;
  width: 30%;
  margin-top: 20%;
  margin-right: 15px;
}
.nav-item {
  text-align: center;
}
.nav-item a {
  color: #fffceb;
}
.nav-item a:hover {
  color: #ff9eab;
}
.menu-nav.show {
  position: relative;
  overflow: hidden;
  transition: 1.5s ease;
  transition: 1.5s ease;
  height: 200px;
  width: 30%;
}
.nav-item:nth-child(1) {
  transition-delay: 0.2s;
  transition: ease 1s;
}

.nav-item:nth-child(2) {
  transition-delay: 0.2s;
  transition: ease 1s;
}

.nav-item:nth-child(3) {
  transition-delay: 0.4s;
  transition: ease 1s;
}

.nav-item:nth-child(4) {
  transition-delay: 0.6s;
  transition: ease 1s;
}

.hero-banner {
  height: 80vh;
  display: flex;
  align-items: center;
}
.hero-img-bg {
  position: absolute;
  bottom: 10%;
  right: 10%;
  z-index: 1;
}
.img-burger {
  z-index: 3;
  position: relative;
}
.hero-banner h2{
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  font-size: 48px;
  letter-spacing: 0;
  color: #790011;
}
.hero-banner h2 span{
  color: #d1001e;
}
.hero-banner p{
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 1.875rem;
  letter-spacing: 0;
  color: #A0414F;
  margin-top: 50px;
}
.hero-banner .up{
  font-family: 'Shadows Into Light', cursive;
  position: absolute;
  margin-top: -48px;
  margin-left: -48px;
  font-weight: 400;
  color: #201013;
  transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
}
.hero-banner .down{
  font-family: 'Shadows Into Light', cursive;
  position: absolute;
  margin-top: 35px;
  margin-left: -25px;
  font-weight: 400;
  color: #201013;
}

#burger{
  position: fixed; 
  right: 0px;
  z-index: 6;
}
.card-style h2{
  font-family: 'Shadows Into Light', cursive;
  font-size: 2.25em;
  color: #790011;
  font-weight: 400;
  position: relative;
}
.card-style p{
  font-family: Nunito, sans-serif;
  font-size: 0.75em;
  color: #201013;
  font-weight: 400;
}

.section-extract .col-md-4{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.card-style{
  margin-top: 60px;
  padding-bottom: 60px;
}
.position{
  display: hidden;
}
.section-extract{
  margin-top: 15%;
  padding-bottom: 10%;
  padding-top: 5%;
}

.custom h2{
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 1.875em;
  color: #790011;
  padding-bottom: 20px;
}

.basicBtn{
  font-family: 'Nunito', sans-serif;
  border-radius: 33px;
    outline: none;
    border: none;
    cursor: pointer;   
}
.btn-burger{
  background-color: #D1001E;
  color: #fff;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
   font-size: 1.125em;
   padding: 8px 17px;
    border-radius: 33px;
    outline: none;
    border: none;
}
.btn-trans{
  background-color: transparent;
  color: #790011;
  font-weight: 400;
       font-size: 13.5px;
    padding: 8px 0px;
    border-radius: 33px;   
    width: 48%;
    border: 2px solid #790011;
}
.btn-trans:hover{
   background-color: #ff9eab;
}
.btn-red{
  background-color: #D1001E;
  color: #fff;
  font-weight: 400;
       font-size: 13.5px;
    padding: 8px 0px;   
    width: 48%;
    border: 2px solid #D1001E;
}
.btn-red:hover{
  background-color: #D1001E;
}

.hero-banner {
  
  height: 150vh;
}

.section-extract {
  /* background: green; */
  height: 150vh !important;
}

.custom {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.custom .container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom .row{
  width: 100%;
}

.line {
  height: 1px;
  background-color: rgba(121,0,17,0.45);
}
#line1{
      transform: rotate(15deg);
    margin-left: 80%;
    width: 30%;
}
#line2{
      width: 55%;
    position: absolute;
    transform: rotate(15deg);
    margin-left: 54%;
    margin-top: 12%;
}
#line3{
  width: 40%;
    transform: rotate(-45deg);
    margin-left: -25%;
    margin-top: 12%;
    position: absolute;
}
#line4{
      width: 40%;
    transform: rotate(-53deg);
    margin-left: -35%;
    margin-top: 20%;
    position: absolute;
}


.left-rotate {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.right-rotate {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#bg1{
  position: absolute; 
  bottom: 0; 
  right: 0; 
  z-index: 1; 
}
#bg1{
  position: absolute; 
  bottom: 10px; 
  right: 0; 
  z-index: 2;
}
.overflow{
  overflow: hidden;
}
.fourth-section{
  background-color: #fff;
  height: 100vh;
}
.fourth-section .container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fourth-section h3{
  font-size: 28px;
  color: #790011;
  font-weight: 600;
}
section .row{
  width: 100%;
}
.fourth-section .burger-making{
  position: relative;
  margin-top: 15%;
}
.fourth-section img{
  position: relative;
  margin-top: -7%;
}
.fourth-section img:nth-of-type(1){
    z-index: 9;
}
.fourth-section img:nth-of-type(2){
    z-index: 9;
    margin-top: -15%;
    margin-bottom: -3%;
}
.fourth-section img:nth-of-type(3){
    z-index: 8;
}
.fourth-section img:nth-of-type(4){
    z-index: 7;
}
.fourth-section img:nth-of-type(5){
    z-index: 6;
}
.b-card{
  background-color: #FFECEF;
  padding: 15px 30px;
  -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
.card-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}
.b-card span{
  color: #d1001e;
  font-size: 17px;
    font-weight: 500;
  font-family: 'Nunito', sans-serif;
}
#totalAmt{
 width: 100%;
    text-align: center;
    font-size: 13px;
    padding: 8px 10px;
    border: 1px solid #FF9EAB;
}
.card-list{
  height: 320px;
  width: 100%;
  background-color: #fff;
    width: 100%;
    overflow: hidden;
    padding: 0px 5px;
}
.card-list ul{
  width: 100%;
    height: 100%;
    overflow: scroll;
    padding-right: 0px;
}
.card-list ul li{
  padding: 10px;
    border-bottom: 1px solid #FFECEF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-list ul li div{
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  color: #49000A;
}
.card-list ul::-webkit-scrollbar {
display: none;
width: 0;
}

.btn-round {
  width: 32px;
	height: 32px;
	border-radius:50%;
  background-color:#d1001e;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


.close{
  position: relative;
      width: 15px;
    height: 15px;
  /* top:12.5px;
  left:12.5px; */
  overflow: hidden;
  opacity: 1 !important;  
}
.close::before,
.close::after{
    content: '';
    position: absolute;
    height: 1.5px;
    width: 15px;
    top: 50%;
    left: 0.5px;
    margin-top: 0px;
    background: #fff;  
}
.closeButton .close::before,
.closeButton .close::after{
    content: '';
    position: absolute;
    height: 1.5px;
    width: 15px;
    top: 48%;
    left: 0;
    margin-top: 0px;
    background: #89E7BD;  
}

.closeButton .close::before,.closeButton .close::after{
  background: #A0414F;
}
.plusButton .close::before,.plusButton .close::after{
  background: #fff;
}
.close::before{
  transform:rotate(0deg);
}
.close::after{
  transform:rotate(90deg);
}

.animated {
  -webkit-animation-duration: .1s;
  animation-duration: .35s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes plusButton {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    background-color:#d1001e;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    background-color:#d1001e;
  }
}

@keyframes plusButton {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    background-color:#d1001e;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    background-color:#d1001e;
  }
}

.plusButton {
  -webkit-animation-name: plusButton;
  animation-name: plusButton;
}


@-webkit-keyframes closeButton {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    background-color:#89E7BD;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 35deg);
    transform: rotate3d(0, 0, 1, 35deg);
    background-color:#89E7BD;
  }
}

@keyframes closeButton {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    background-color:#89E7BD;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    background-color:#89E7BD;
  }
}

.closeButton {
  -webkit-animation-name: closeButton;
  animation-name: closeButton;
}

@-webkit-keyframes circleShape {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    background-color:red;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    background-color:red;
    /* border-radius: 30px; */
  }
}

@keyframes circleShape {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    background-color:red;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    background-color:red;
    /* border-radius: 30px; */
  }
}

.circleShape {
  -webkit-animation-name: circleShape;
  animation-name: circleShape;
}

.add-button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0px;
}
.third-section{
  height: 150vh;
  background-color: greenyellow;
}
.third-section .container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* .owl-item.active > div:after {
  content: 'active';
}
.owl-item.center > div:after {
  content: 'center';
}
.owl-item.active.center > div:after {
  content: 'active center';
}
.owl-item > div:after {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
} */

.fifth-section .container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.fifth-section{
  background-color: white;
  /* height: 100vh; */
   font-family: 'Nunito', sans-serif;
   font-weight: 500;
  flex-direction: column;
}
.fifth-section .container-fluid{
  background-color: #fffbe7;
  padding: 60px 0px;
}
.fifth-section .owl-prev{  
   position: absolute;
   top: 45%;
   left: 10%;
}
.fifth-section .owl-next{  
   position: absolute;
   top: 45%;
   right: 10%;
}
.carouselItem{
  height: 200px;
}
#owl-demo .item{
  padding: 10px;
  margin: 0px;
  color: #FFF;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-align: center;
}
.burger-item{
  background-color: #FFECEF;
  -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
box-shadow: 2px 3px 6px rgba(32, 16, 19, 0.1);
}
.burger-item h3{
  color: #790011;
  font-size: 22px;
}
.burger-item p{
  color: #201013;
  font-size: 12px;
}
.cardCont{
  position: relative;
  padding: 40px 15px 32px;
  box-shadow: 0px 1px 12px rgba(32, 16, 19, 0.1);
}
.cardCont .btn-round{
  position: absolute;
  top: -15px;
  left: 45%;
  border-width: 3px;
  border-color: rgb(255, 255, 255);
      width: 34px;
    height: 34px;
    z-index: 999;
}

.owl-carousel {
    display: none;
    position: relative;
    width: 120% !important;
    margin-left: -10%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.cardCont .close{
  position: relative;
  display: inline-block;
      width: 15px;
    height: 15px;
  /* top:12.5px;
  left:12.5px; */
  overflow: hidden;
  opacity: 1 !important;  
}
.cardCont .close::before,
.cardCont .close::after{
  content: '';
    position: absolute;
    height: 1.5px;
    width: 100%;
    top: 48%;
    left: 0;
    margin-top: -1px;
    background: #fff;
    
}

/* .cardCont .closeButton .close::before,
.cardCont .closeButton .close::after{
  background: #fff;
}
.cardCont .plusButton .close::before,
.cardCont .plusButton .close::after{
  background: #fff;
} */
.cardCont .close::before{
  transform:rotate(0deg);
}
.cardCont .close::after{
  transform:rotate(90deg);
}

.animated {
  -webkit-animation-duration: .35s;
  animation-duration: .35s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes CardplusButton {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    background-color:#d1001e;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    background-color:#d1001e;
  }
}

@keyframes CardplusButton {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    background-color:#d1001e;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    background-color:#d1001e;
  }
}

.cardCont .plusButton {
  -webkit-animation-name: CardplusButton;
  animation-name: CardplusButton;
}


@-webkit-keyframes CardcloseButton {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    background-color:d1001e;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    background-color:#d1001e;
  }
}

@keyframes CardcloseButton {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    background-color:#d1001e;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    background-color:#d1001e;
  }
}

.cardCont .closeButton {
  -webkit-animation-name: CardcloseButton;
  animation-name: CardcloseButton;
}

@-webkit-keyframes CardcircleShape {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    background-color:red;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    background-color:red;
    border-radius: 30px;
  }
}

@keyframes CardcircleShape {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    background-color:red;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    background-color:red;
    border-radius: 30px;
  }
}

.cardCont .circleShape {
  -webkit-animation-name: CardcircleShape;
  animation-name: CardcircleShape;
}


.fifth-section .owl-theme .owl-controls .owl-buttons div{
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fifth-section .heading{
  color: #790011;
  font-size: 28px;
 font-weight: 600;
  padding: 20px 0px;
}
.fifth-section .burger-item .burImg{
  background-color: #fff;
  padding: 20px;
  -webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.fifth-section .owl-carousel{
  /* margin-left: -15%; */
}

.about-section{
  background-color: #fffceb;
  padding: 80px 0px;
}
.about-section .container{
  display: flex;
  align-items: center;
  justify-content: center;

}
.about-section h2{
  color: #790011;
  font-size: 28px;
  font-weight: 600;
}
.about-section p{
  color: #201013;
  font-size: 16px;
  font-weight: 300;
  padding-top: 30px;
}

footer{
  background: #FFF8D2;
  position: relative;
  z-index: 9;
  padding: 100px 0px;
  padding-bottom: 0px;
}
footer .container{
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .container .f-head{
  font-size: 28px;
  color: #790011;
  font-weight: 600;
  padding-bottom: 5%;
}
footer .container .f-location{
  font-size: 13px;
}
footer .container-fluid{
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .copyright{
  background-color: #FFE1E5;
    padding: 40px 0px;
    margin-top: 60px;
}
footer .copyright a{
  color: #790011;
  font-size: 14px;
}
.social-media ul{
  list-style: none;
  text-align: right;
}
.social-media ul li{
  display: inline;
  width: 42px;
  height: 42px;
}
.social-media img{
  width: 38px;
  margin-left: 8px;
}

#parent1{
  background: #3d9a44;
    margin: 3px;
    width: 80px;
    height: 40px;
    float: left;
    position: absolute;
    top: -40%;
    left: 35%;
    display: none;
}
.custom_modal{
  position: absolute;
  top: -190px;
  background-color: #fffbe7;
  border: 1px solid #C28E95;
  -webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
    width: 80%;
    left: 10%;
    height: 170px;
    padding: 20px;
}

#div-to-toggle {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(0, -1px, 0);
  }
  
  20%, 80% {
    transform: translate3d(0, 2px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(0, -2px, 0);
  }

  40%, 60% {
    transform: translate3d(0, 2px, 0);
  }
}

.btn-number{
  background-color: #A0414F;
  color: #fff;
  border-radius: 0 !important;
}
.btn-number:disabled{
  opacity: 1 !important;
}
.custom_modal input{
  border-radius: 0 !important;
  border : 1px solid #A0414F;
  text-align: center;
}

